@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&family=PT+Sans&display=swap");

#home-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.banner {
  max-width: 100%;
}

.era-link {
  margin: 20px;
  background-color: #72726e;
  border: 10px solid #8e1a23;
  border-radius: 5%;
}

.era-link h3 {
  text-align: center;
  color: #171212;
  font-size: 30px;
}

.era-link img {
  display: block;
  border: 5px solid #171212;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 90%;
}

.footer-nav
{
  font-size: 25px;
  text-align: center;
  color: white;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10%;
}

.footer-nav:hover
{
  background-color: #72726e;
  color: #171212;
}

.logo-image {
  max-width: 150px;
  border-radius: 50%;
  padding: 10px;
}

.social img {
  border-radius: 50%;
}

a {
  text-decoration: none;
}

body {
  background-color: #171212;
}

footer {
  background-color: #8e1a23;
  padding: 25px 50px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a, footer p
{
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: 25px;
  font-family: "Metal Mania", cursive;
}

h1 {
  font-family: "Metal Mania", cursive;
  text-align: center;
  font-size: 60px;
  color: white;
}

h3 {
  font-family: "Metal Mania", cursive;
  color: white;
}

header {
  background-color: #8e1a23;
  display: grid;
  grid-template-columns: 150px auto;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  background-color: #171212;
}

main p {
  margin-left: 10%;
  margin-right: 30%;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  font-size: 25px;
  text-align: center;
  color: white;
  font-family: "Metal Mania", cursive;
  margin: 50px 0;
  padding: 20px;
  border-radius: 10%;
}

nav a:hover {
  background-color: #72726e;
  color: #171212;
}

p
{
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: 25px;
}